# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# JavaScript, TypeScript, and Vue files - use tabs
[*.{js,ts,vue}]
indent_style = tab
indent_size = 4

# JSON, Markdown, YAML files - use spaces
[*.{json,md,yml,yaml}]
indent_style = space
indent_size = 2

# HTML files - use tabs (consistent with Vue templates)
[*.html]
indent_style = tab
indent_size = 4

# CSS and SCSS files - use tabs
[*.{css,scss,sass}]
indent_style = tab
indent_size = 4

# Configuration files that commonly use spaces
[*.{xml,toml}]
indent_style = space
indent_size = 2

# Package files
[package.json]
indent_style = space
indent_size = 2

# Lock files - don't modify
[{package-lock.json,yarn.lock}]
insert_final_newline = false
trim_trailing_whitespace = false